<div id="notifications">
    {{#if success}}
    <div style="display: none;" id="infobox" class="success">{{success}}</div>

    <script>
        let element = document.getElementById("infobox")
        element.style.display = "block"
        setTimeout(function () {
            element.style.display = "none"
        }, 3000)
    </script>
    {{/if}}

    {{#if error}}
    <div style="display: none;" id="error">
        <div class="errorMessage">{{error}}</div>
        <button type="button" class="errorMessage" onclick="window.closse()">X</button>
        {{!-- <div><a href="/">x</a></div> --}}
    </div>
    <script>
        let element = document.getElementById("error")
        element.style.display = "flex"
      

        function closse() {
            let element = document.getElementById("error")
            element.style.display = "none"
        }
    </script>
    {{/if}}

    {{#if respond}}
    <div style="display: none;" id="successBox" class="alert alert-success" role="alert">{{respond}}</div>
    <script>
        document.getElementById("successBox").style.display = "block"
        setTimeout(fade_out, 3000);
        function fade_out() {
            $("#successBox").fadeOut().empty();
        }
    </script>
    {{/if}}

</div>