<div class="container">
  {{> header}}
  {{> notifications}}
  <main>
    <h1>Browser</h1>
    <form action="/search" method="POST">
      <input type="text" class="search" name="search" placeholder="Search..." value="{{params.search}}">
      <input type="number" name="from" class="difficulty" placeholder="Difficulty from..." value="{{params.from}}">
      <span>-</span>
      <input type="number" name="to" class="difficulty" placeholder="Difficulty to..." value="{{params.to}}">
      <input type="submit" value="search">
    </form>


    {{#each links}}

      {{> cubelist}}

    {{else}}

    <i>(empty)<i>

    {{/each}}

  </main>
 
</div>